* {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --black: #282828;
  --light-gray: #e8e8e8;
  --white: #f8f8f8;

  /* Sizes */
  --huge: 4rem;
  --large: 2rem;
  --medium: 1rem;
  --small: 0.5rem;
  --tiny: 0.25rem;
}

body {
  background-color: var(--white);
  color: var(--black);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 1.6;
  margin: 0px auto;
  max-width: 400px;
  padding: var(--large) var(--medium);
  width: 100%;
}

input[type="range"] {
  display: block;
  width: 100%;
}

.input-control:not(:first-of-type) {
  margin-top: var(--medium);
}

.result {
  display: flex;
}

.value-wrapper {
  float: right;
  opacity: 0.8;
}

#Results {
  background-color: var(--light-gray);
  border-radius: var(--tiny);
  margin-top: var(--medium);
  padding: var(--medium);
}
